.padding{
    padding-top: 10px;
    padding-bottom: 10px;
}

.form_width{
    padding-left: 38%;
    padding-right: 38%;
    padding-bottom: 10%;
}

.button{
    background-color: #597268;
    color: beige;
}

.top{
    padding-top: 10%;
    color: #597268;
}

.background_colour{
    background-color: #597268;
    height: 100px;
    color: beige;
  }

  .beige-text {
    color: beige; /* Set the desired font color (beige) */
  }

  .btn-color{
    background-color :#9B59B6
  }