.padding{
    padding-top: 10px;
    padding-bottom: 10px;
}

.form_width{
    padding-left: 38%;
    padding-right: 38%;
    padding-bottom: 10%;
}

.button{
    background-color: #597268;
    color: beige;
}

.top{
    padding-top: 10%;
    color: #597268;
}