.padding{
    padding-top: 10px;
    padding-bottom: 10px;
}

.form_width{
    padding-left: 38%;
    padding-right: 38%;
    padding-bottom: 10%;
}

.button{
    background-color: #3b4960;
    color: beige;
}

.top{
    padding-top: 10%;
    color: #597268;
}

.background_colour{
    background-color: #597268;
    height: 100px;
    color: beige;
  }

  .beige-text {
    color:  #3b4960; /* Set the desired font color (beige) */
    padding-left: 1400px;
  }

  .btn-color{
    background-color :#9B59B6
  }

  .icon{
    padding-top: -10%;
    padding-left: 90%;
  }

  .background{
    padding-top: 10%;
    background-image: url("../image.jpg");
    width: 2000px;
    height: 1000px;
    opacity: 80%;
  }
 
  .nav{
    background-color: rgba(0,0,0,0.3); 
  }